.container{
   
    height:auto;
    width:100vw;
    display: grid;
    color:white;
    grid-template-rows:1fr;
    grid-template-columns: 40% 60%;
    background: rgba(196, 196, 196, 0.08);
    


  }
  .container-left{
    display:grid;
    grid-template-rows:1fr auto auto 1.5fr;
    margin: 30px;
  }
  .container-right{
      display:grid;
      grid-template-rows:10% 90%;
      background: rgba(0, 0, 0, 0.692);
      grid-template-columns:40% 50%;
      gap: 15px 10px;

  }

  .title{
      text-align:center;
      justify-content: center;
      align-items: center;
      display: flex;
  }
  .big{
    font-size: 3rem;

  }
  .small{
      font-size:20px;
  }
  .content{
     
      text-align:justify;
      justify-content: center;
      display: flex;
      margin: 5px 5px;
  }
  .logo{
      width:100%;
      

  }
  img{
      width: 350px;
  }
  .information{
    width:100%;
    border:1px red solid;
    font-size: 18px;
    
}
  .nav{
    border:1px red solid;
    width:100%;
    width: 100%;
    position: relative;
    top: 4rem;
    height:29vh;
    display:inline-block;
  }
  ul li a {
    
   font-size: 2rem;
   text-decoration: none;
   display: inline-block;
   
   justify-content: space-around;
   padding:10px;


  }
  a{
      color:rgba(238, 238, 238, 0.856);
  }